.thebod {
  background: #E8F7FC url(/images/bg.jpg) repeat-x;
  font-family: Palatino, Bookman, Helvetica, Arial;
  font-size: 14px;
  color: #3A65A8;
}

.tall {
    height: 700px;
}

.boy_title {
    color: #3A65A8;
    background: url(/images/h1bg.jpg) repeat-x bottom;
    float: left;
    text-transform: lowercase;
}

.girl_title {
    color: #CB6F9C;
    background: url(/images/h1bg.jpg) repeat-x bottom;
    float: left;
    width: auto;
    text-transform: lowercase;
}

.title {
    padding-top: 40px;
}

.title h1 a {
    text-decoration: none;
    color: #3A65A8;
    font-style: italic;
}

.menu {
    background: url(/images/white_bubbles.jpg) no-repeat top right;
    height: 120px;
    padding-top: 70px;
}

.menu ul {
    padding-left: 90px;
}

.menu li {
    display: inline;
    padding-left: 30px;
}

.menu li a {
    color: #9D436F;
    text-decoration: underline;
    font-weight: bold;
}

.menu li a:hover {
    background-color: #edd3e0;
    text-decoration: none;
}

.footer { 
    background: #FF99CB url(/images/bottom.jpg) repeat-x;
    height: 198px;
}

.footer_txt {
    padding-top: 100px;
}

.footer_txt a {
    color: #60183B;
    text-decoration: underline;
}

.footer_img {
    background: url(/images/pink_bubbles2.jpg) no-repeat bottom right;
    padding-top: 79px;
    height: 119px;
}

.b_txt {
    color: #3A65A8;
}

.p_txt {
    color: #9D436F;
}

.b_button {
    background: url(/images/boy_button.png);
    height: 26px;
    width: 180px;
    border: none;
    color: white;
    cursor: pointer;
}

.g_button {
    background: url(/images/girl_button.png);
    height: 26px;
    width: 180px;
    border: none;
    color: white;
    cursor: pointer;
}

form {
    display: inline;
}

.spaceit {
    padding-bottom: 8px;
}

.bspaceit {
    padding-bottom: 25px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
