<% title "All Name Nests" %>

<h1 class="boy_title">All Name Nests</h1>
<table>
  <% for poll in @polls %>
    <tr>
      <td><%= link_to poll.title, poll_path(poll) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Nest", new_poll_path %></p>
