<% title "Poll" %>

<p>
  <strong>Title:</strong>
  <%=h @poll.title %>
</p>

<p>
  <%= link_to "Edit", edit_poll_path(@poll) %> |
  <%= link_to "Destroy", @poll, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", polls_path %>
</p>
