
<div class="span-16">
    <h2 class="girl_title">About My Name Nest</h2>
    <div class="clear">&nbsp;</div>
    <p>My Name Nest was started to provide a fun and useful site
    for choosing a baby name.  Whether you are just looking for ideas or you need
    help narrowing down your final choices, My Name Nest can aide in your
    baby naming journey.
    Please create a nest and invite your friends and family to vote.</p>
    <p>My Name Nest is being built by Ryan Swanstrom.  Ryan is married with 1 daughter
    and 3 sons.  Thus, he has had plenty of practice choosing a baby name.
    His family resides in South Dakota. Find out more about
    Ryan Swanstrom on his
    <a href="http://about.me/ryanswanstrom">About.me page</a>.</p>
</div>
