<%  title ApplicationController::Website_name + " | " + @title %>

<div class="span-16 last">
<h1 class="boy_title">Vote on Baby Names</h1>
</div>

<div class="span-8">
  <h3 class="p_txt">Why</h3>
  Choosing a baby name and finding a baby name is about to get more fun!

  <%= link_to "Click here to get started", new_poll_path %>
</div>

<div class="span-8 last">&nbsp;
</div>


