<%  title ApplicationController::Website_name + " | " + @title %>

<div class="span-16 last">
<h1 class="boy_title">Vote on Baby Names</h1>
</div>

<div class="span-7 colborder">
  <h3 class="p_txt">What is mynamenest.com</h3>
  <p>
    mynamenest.com is a site for creating a nest
    of up to five of your favorite boys and girls names.  Then you
    send out a link and let your family, friends, and
    others vote on the name they like best.
  </p>
  <p>
    It's free and no signup is required.
  </p>
  <p>
   <%= link_to "Click here to get started", new_poll_path %>
  </p>

  <h3 class="p_txt">Why mynamenest.com</h3>
  <p>Simple, because your baby needs a name. Plus, it might be fun.</p>
</div>

<div class="span-8 last">
  <h3 class="p_txt">Getting Started</h3>
  It takes 4 easy steps:
  <ul>
    <li><%= link_to "Fill out the form", new_poll_path %></li>
    <li>Click Publish</li>
    <li>Copy the Link</li>
    <li>Paste the link to Facebook, Twitter, email, or your blog</li>
  </ul>


  <h3 class="p_txt">Most Recent Nests</h3>

  <% unless @recent.empty? %>
  <ul>
    <% @recent.each do |poll| %>
    <li> <%= link_to poll.title, poll %> </li>
    <% end %>
  </ul>
  <% end %>

  <!--ul>
    <li>
      <a href="http://mynamenest.com/nest/4c69fb536787840eac00002d">
        Drew and Amy's Baby
      </a>
    </li>
    <li>
      <a href="http://mynamenest.com/nest/4c69e9bfeb5b375b21000017">
        Name the youngest
      </a>
    </li>
    <li>
      <a href="http://mynamenest.com/nest/4c67498591e92a5efa000001">
        Eric and Susan's First Baby
      </a>
    </li>
    <li>
      <a href="http://mynamenest.com/nest/4c674e0f91e92a5efa000022">
        Maggie's new baby boy
      </a>
    </li>
  </ul-->
</div>


